<section class="team-carousel padding-wrap">
    @@if (subtitle === true) {
        <div class="container">
            <div class="head">
                <h2 class="head__title text-lg-center">Наши специалисты</h2>
                <div class="head__subtitle text text-lg-center">Запишитесь к врачам нашей клиники онлайн</div>
            </div>
        </div>
        <div class="team-carousel__slider">
            <div class="swiper" data-team-carousel-slider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="team-carousel-card">
                            <a href="#" class="team-carousel-card__calendar" data-tooltip="Записаться на прием">
                                <svg><use xlink:href="img/icons/sprites.svg#calendar"></use></svg>
                            </a>
                            <a href="#" class="team-carousel-card__body not-hover">
                                <div class="team-carousel-card__name">Екимова Мария</div>
                                <div class="team-carousel-card__position">стоматолог-терапевт</div>
                                <div class="team-carousel-card__photo">
                                    <img src="img/photo/team-carousel-card-1.png" alt="">
                                </div>
                                <div class="team-carousel-card__btn-wrap">
                                    <div class="team-carousel-card__btn btn btn--light" data-popup-href="#ctaPopup" data-popup="open-popup">Записаться к врачу</div>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-carousel-card">
                            <a href="#" class="team-carousel-card__calendar" data-tooltip="Записаться на прием">
                                <svg><use xlink:href="img/icons/sprites.svg#calendar"></use></svg>
                            </a>
                            <a href="#" class="team-carousel-card__body not-hover">
                                <div class="team-carousel-card__name">Шахаев Саид</div>
                                <div class="team-carousel-card__position">стоматолог-ортопед, хирург</div>
                                <div class="team-carousel-card__photo">
                                    <img src="img/photo/team-carousel-card-2.png" alt="">
                                </div>
                                <div class="team-carousel-card__btn-wrap">
                                    <div class="team-carousel-card__btn btn btn--light" data-popup-href="#ctaPopup" data-popup="open-popup">Записаться к врачу</div>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-carousel-card">
                            <a href="#" class="team-carousel-card__calendar" data-tooltip="Записаться на прием">
                                <svg><use xlink:href="img/icons/sprites.svg#calendar"></use></svg>
                            </a>
                            <a href="#" class="team-carousel-card__body not-hover">
                                <div class="team-carousel-card__name">Маргиева Зарина</div>
                                <div class="team-carousel-card__position">стоматолог-терапевт</div>
                                <div class="team-carousel-card__photo">
                                    <img src="img/photo/team-carousel-card-3.png" alt="">
                                </div>
                                <div class="team-carousel-card__btn-wrap">
                                    <div class="team-carousel-card__btn btn btn--light" data-popup-href="#ctaPopup" data-popup="open-popup">Записаться к врачу</div>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-carousel-card">
                            <a href="#" class="team-carousel-card__calendar" data-tooltip="Записаться на прием">
                                <svg><use xlink:href="img/icons/sprites.svg#calendar"></use></svg>
                            </a>
                            <a href="#" class="team-carousel-card__body not-hover">
                                <div class="team-carousel-card__name">Перельштейн Нина</div>
                                <div class="team-carousel-card__position">стоматолог-ортодонт</div>
                                <div class="team-carousel-card__photo">
                                    <img src="img/photo/team-carousel-card-4.png" alt="">
                                </div>
                                <div class="team-carousel-card__btn-wrap">
                                    <div class="team-carousel-card__btn btn btn--light" data-popup-href="#ctaPopup" data-popup="open-popup">Записаться к врачу</div>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                </div>
                @@include('../slider-buttons/_slider-buttons.html')
            </div>
        </div>
    }
    @@if (subtitle === false) {
        <div class="container">
            <div class="head">
                <h2 class="head__title text-lg-center">Наши специалисты</h2>
                
            </div>
        </div>
        <div class="team-carousel__slider">
            <div class="swiper" data-team-carousel-slider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="team-carousel-card">
                            <a href="#" class="team-carousel-card__calendar" data-tooltip="Записаться на прием">
                                <svg><use xlink:href="img/icons/sprites.svg#calendar"></use></svg>
                            </a>
                            <a href="#" class="team-carousel-card__body not-hover">
                                <div class="team-carousel-card__name">Екимова Мария</div>
                                <div class="team-carousel-card__position">стоматолог-терапевт</div>
                                <div class="team-carousel-card__photo">
                                    <img src="img/photo/team-carousel-card-1.png" alt="">
                                </div>
                                <div class="team-carousel-card__btn-wrap">
                                    <div class="team-carousel-card__btn btn btn--light" data-popup-href="#ctaPopup" data-popup="open-popup">Записаться к врачу</div>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-carousel-card">
                            <a href="#" class="team-carousel-card__calendar" data-tooltip="Записаться на прием">
                                <svg><use xlink:href="img/icons/sprites.svg#calendar"></use></svg>
                            </a>
                            <a href="#" class="team-carousel-card__body not-hover">
                                <div class="team-carousel-card__name">Шахаев Саид</div>
                                <div class="team-carousel-card__position">стоматолог-ортопед, хирург</div>
                                <div class="team-carousel-card__photo">
                                    <img src="img/photo/team-carousel-card-2.png" alt="">
                                </div>
                                <div class="team-carousel-card__btn-wrap">
                                    <div class="team-carousel-card__btn btn btn--light" data-popup-href="#ctaPopup" data-popup="open-popup">Записаться к врачу</div>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-carousel-card">
                            <a href="#" class="team-carousel-card__calendar" data-tooltip="Записаться на прием">
                                <svg><use xlink:href="img/icons/sprites.svg#calendar"></use></svg>
                            </a>
                            <a href="#" class="team-carousel-card__body not-hover">
                                <div class="team-carousel-card__name">Маргиева Зарина</div>
                                <div class="team-carousel-card__position">стоматолог-терапевт</div>
                                <div class="team-carousel-card__photo">
                                    <img src="img/photo/team-carousel-card-3.png" alt="">
                                </div>
                                <div class="team-carousel-card__btn-wrap">
                                    <div class="team-carousel-card__btn btn btn--light" data-popup-href="#ctaPopup" data-popup="open-popup">Записаться к врачу</div>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-carousel-card">
                            <a href="#" class="team-carousel-card__calendar" data-tooltip="Записаться на прием">
                                <svg><use xlink:href="img/icons/sprites.svg#calendar"></use></svg>
                            </a>
                            <a href="#" class="team-carousel-card__body not-hover">
                                <div class="team-carousel-card__name">Перельштейн Нина</div>
                                <div class="team-carousel-card__position">стоматолог-ортодонт</div>
                                <div class="team-carousel-card__photo">
                                    <img src="img/photo/team-carousel-card-4.png" alt="">
                                </div>
                                <div class="team-carousel-card__btn-wrap">
                                    <div class="team-carousel-card__btn btn btn--light" data-popup-href="#ctaPopup" data-popup="open-popup">Записаться к врачу</div>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                </div>
                @@include('../slider-buttons/_slider-buttons.html')
            </div>
        </div>
    }
</section>