.team-carousel {
    overflow: hidden;
    &__slider {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            width: 100vw;
            height: 100%;
            z-index: 1;
            transform: translateX(-50%);
            background: linear-gradient(360deg, #202020 -42.33%, #414141 90.25%);
        }

        & .swiper {
            position: relative;
            z-index: 2;
        }

        & .slider-buttons {
            padding: 0 2rem;

            @media (max-width: $md2+px) {
                display: none;
            }
        }

        & .swiper-slide {
            height: auto;
            @media (max-width: $md2+px) {
                width: auto;

                &.swiper-slide-active {
                    & .team-carousel-card {
                        &:before {
                            opacity: 1;
                        }

                        & .team-carousel-card__calendar {
                            opacity: 1;
                        }

                        & .team-carousel-card__name,
                        & .team-carousel-card__position {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.team-carousel-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 76.9rem;
    position: relative;
    padding-top: 4rem;
    transition: all 0.15s ease-in-out;


    @media (max-width: $md2+px) {
        width: 456px;
    }

    @media (max-width: $md3+px) {
        width: 264px;
        min-height: 417px;
        padding-top: 24px;
    }

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(344.6deg, #358B88 21.7%, #13B3AD 78.56%);
        transition: all .15s ease-in-out;
        opacity: 0;
    }

    @media (min-width: 992px) {
        &:hover {
            &:before {
                opacity: 1;
            }

            & .team-carousel-card__calendar {
                opacity: 1;
            }

            & .team-carousel-card__name,
            & .team-carousel-card__position {
                color: #fff;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    &__calendar {
        position: absolute;
        z-index: 4;
        top: 4rem;
        right: 1.2rem;
        width: 8rem;
        transition: all 0.3s ease;
        opacity: 0.8;
        padding: 2rem;
        padding-top: 0;

        @media (max-width: $md3+px) {
            top: 24px;
            right: -8px;
            width: 64px;
            padding: 0 16px 16px;
        }

        & img, & svg {
            width: 4rem;
            height: 4rem;

            @media (max-width: $md3+px) {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__name {
        padding: 0 6rem 0 4rem;
        margin-bottom: 1.4rem;
        font-weight: 600;
        font-size: 2.6rem;
        line-height: 1.08em;
        letter-spacing: -0.02em;
        color: #0abeb9;
        transition: all 0.3s ease;

        @media (max-width: $md3+px) {
            padding: 0 40px 0 16px;
            margin-bottom: 4px;
            font-size: 18px;
            line-height: 23px;
        }
    }

    &__position {
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.2em;
        letter-spacing: -0.02em;
        margin-bottom: 1.6rem;
        transition: all 0.3s ease;
        padding: 0 6rem 0 4rem;
        color: #9d9d9d;

        @media (max-width: $md3+px) {
            padding: 0 40px 0 16px;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__photo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: auto;
        padding: 0 1rem;
        height: 64.6rem;

        @media (max-width: $md3+px) {
            height: 34.6rem;
        }
        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__btn-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 21.5rem;
        z-index: 5;
        background: linear-gradient(360deg, #000000 0%, rgba(78, 78, 78, 0) 101.41%);
        @media (max-width: $md3+px) {
            height: 12.5rem;
        }
    }

    &__btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5.6rem;

        @media (max-width: $md3+px) {
            bottom: 20px;
        }

        &.btn {
            max-width: calc(100% - 40px);

            @media (min-width: 768px) {
                min-width: 25.7rem;
            }
        }
    }
}
