.breadcrumbs {
    padding-left: 0;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1em;
    color: $textColorThird;

    & > li {
        &:not(:last-child) {
            &:after {
                content: '';
                margin-left: 0.4rem;
                margin-right: 0.4rem;
                display: inline-block;
                width: 1.4rem;
                height: 0.9rem;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyMCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy4zNjAyIDE0LjcwMDlMMTIuOTE5OCAxNS4xNDQzTDEyLjAzMjkgMTQuMjYzNEwxMi40NzM0IDEzLjgyTDE2Ljc2NiA5LjQ5ODI5SDAuODcyODAzSDAuMTIyODAzTDAuMTIyODAzIDcuOTk4MjlIMC44NzI4MDNMMTYuNjgwNSA3Ljk5ODI5TDEyLjc3NTUgMy43OTI5M0wxMi4zNTAzIDMuMzM0OTRMMTMuMjY2MiAyLjQ4NDM4TDEzLjY5MTUgMi45NDIzN0wxOC4zODYzIDcuOTk4MjlIMTguMzkzMlY4LjAwNTY5TDE4Ljc2NjEgOC40MDcyOUwxOS4xNzQ1IDguODQ3MTVMMTguNzUxNSA5LjI3MzAyTDEzLjM2MDIgMTQuNzAwOVoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4K');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    & a {
        color: $textColor;
        transition: all .3s ease;
        text-decoration: underline;
    }
}
