.services-card {
    display: block;

    @media (min-width: 768px) {
        overflow: hidden;
        border-radius: 4rem;
        position: relative;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        & img {
            object-position: right center;
        }

        @media (max-width: $md3+px) {
            position: relative;
            overflow: hidden;
            border-radius: 24px;
            height: 0;
            padding-bottom: 91.46%;
            margin-bottom: 1.6rem;
        }
    }

    &__inner {
        @media (max-width: $md3+px) {
            position: relative;
        }
    }

    &__body {
        position: relative;
        z-index: 2;

        @media (min-width: 768px) {
            color: #fff;
            min-height: 40rem;
            display: flex;
            flex-direction: column;
            padding: 5rem 4rem 4.8rem;
        }
    }

    &__title {
        margin-bottom: 1.6rem;
        max-width: 41.1rem;

        @media (max-width: $md3+px) {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2em;
            letter-spacing: -0.02em;
            color: $secondColor;
            margin-bottom: 8px;
        }
    }

    &__text {
        margin-bottom: 1.6rem;
        max-width: 41.1rem;
        line-height: 1.4em;

        @media (max-width: $md3+px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
        }
        
    }

    &__price {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.56em;
        letter-spacing: -0.02em;
        margin-bottom: 1.2rem;

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }

        & strong {
            font-weight: 700;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        margin-bottom: 2.4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        margin-top: auto;
        min-width: 27rem;
        align-self: flex-start;

        &.btn {
            @media (max-width: $md3+px) {
                background-color: transparent;
                border-color: $textColor;
                color: $textColor;
            }
        }
        @media (min-width: 992px) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &--big {
        & .services-card__body {
            min-height: 48rem;

            @media (max-width: $md3+px) {
                min-height: 200px;
                padding: 16px;
            }
        }

        & .services-card__bg {
            @media (max-width: $md3+px) {
                position: absolute;
                padding-bottom: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        & .services-card__title {
            margin-bottom: 2.4rem;

            @media (max-width: $md3+px) {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 9px;
                color: #fff;
                max-width: 58%;
            }
        }

        & .services-card__text {
            font-size: 2.6rem;
            line-height: 1.23em;
            letter-spacing: -0.025em;
            margin-bottom: 2.4rem;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 8px;
                max-width: 58%;
                color: #fff;
            }
        }

        & .services-card__label {
            @media (max-width: $md3+px) {
                display: none;
            }
        }

        & .services-card__btn {
            margin-bottom: auto;
            min-width: 33.8rem;

            @media (max-width: $md3+px) {
                min-width: none;
                margin-top: 16px;
            }
        }
    }
}
