*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	// -webkit-font-smoothing: antialiased;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	height: 100%;
	font-size: 10px;

	@media (max-width: $md2+px) {
		font-size: 10px !important;
	}
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.6em;
	letter-spacing: -0.02em;
	transition: opacity 0.8s ease;
	position: relative;
	min-height: 100%;
	background-color: #f0f0f0;

	@media (max-width: $md3+px) {
		font-size: 16px;
		line-height: 1.5em;
	}

	& a:not(.not-hover):not(.mobile):hover {
		opacity: 0.7;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a {
	transition: all 0.15s ease-in-out;
	color: currentColor;
}

a:hover {
	color: currentColor;
}

ul li {
	list-style: none;
}
dl,
ul,
ol {
	margin-bottom: 0;
}
img {
	vertical-align: top;
}

.img-svg {
	height: 1em;
	width: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

h1 {
	font-weight: 300;
	font-size: 6.4rem;
	line-height: 1.12em;
	letter-spacing: -0.03em;
}

h2 {
	font-size: 4.4rem;
	line-height: 1.14em;
	letter-spacing: -0.02em;
	font-weight: 400;

	@media (max-width: $md3+px) {
		font-weight: 600;
		font-size: 28px;
		line-height: 1.14em;
	}

	&.mb-3 {
		margin-bottom: 2.4rem !important;

		@media (max-width: $md3+px) {
			margin-bottom: 16px !important;
		}
	}
}

h3 {
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 1.06em;
	letter-spacing: -0.02em;

	@media (max-width: $md2+px) {
		font-size: 24px;
		line-height: 1.17em;
	}
}

h4 {
	font-weight: 600;
	font-size: 2.6rem;
	line-height: 1.08em;
	letter-spacing: -0.02em;
}

h5 {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.17em;
	letter-spacing: -0.02em;
}

h6 {
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 1.31em;
	letter-spacing: -0.02em;
}

p,
ul,
ol,
figure {
	margin-bottom: 1.5em;
}

.wrapper {
	overflow: hidden;
}

._page {
	position: relative;
	z-index: 3;
}

.container {
	width: calc(100% - 96px);
	max-width: 182.4rem !important;
	margin: 0 auto;
	padding: 0;

	@media (max-width: $md2+px) {
		width: calc(100% - 64px);
	}
	@media (max-width: $md3+px) {
		width: calc(100% - 32px);
	}
}

.container-md {
	width: calc(100% - 96px);
	max-width: 159.5rem !important;
	margin: 0 auto;
	padding: 0;

	@media (max-width: $md2+px) {
		width: calc(100% - 64px);
	}
	@media (max-width: $md3+px) {
		width: calc(100% - 32px);
	}
}

.container-sm {
	width: calc(100% - 96px);
	max-width: 141.2rem !important;
	margin: 0 auto;
	padding: 0;

	@media (max-width: $md2+px) {
		width: calc(100% - 64px);
	}
	@media (max-width: $md3+px) {
		width: calc(100% - 32px);
	}
}

[padding-top-header-size] {
	padding-top: 19.2rem;
}

[disabled] {
	pointer-events: none;
	opacity: 0.7;
}

[data-filter-content] {
	animation: filterContentAnim 0.4s ease-in-out;
}

@keyframes filterContentAnim {
	from {
		opacity: 0;
		transform: translateY(40px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.padding-wrap {
	padding: 5.2rem 0;

	@media (max-width: $md3+px) {
		padding: 32px 0;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.object-fit-contain {
	object-fit: contain !important;
}

.link {
}

[data-padding-top-header-size] {
	@media (min-width: 992px) {
		padding-top: 19.2rem !important;
	}

	@media (max-width: $md2+px) {
		padding-top: 109px;
	}
	@media (max-width: $md3+px) {
		padding-top: 105px;
	}
}

[data-tab-content] {
	display: none;

	&.tab-active {
		display: block;
		animation: tabs-content 0.6s ease forwards;
	}

	@keyframes tabs-content {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

[data-spoller-trigger] {
	& + * {
		display: none;
	}
}

.text-primary {
	color: $mainColor !important;
}

.text-secondary {
	color: $textColorSecondary !important;
}

.text-success {
	color: $successColor !important;
}

.text-danger {
	color: $dangerColor !important;
}

.text-info {
	color: $infoColor !important;
}

.text-dark {
	color: $textColor !important;
}

.text-light {
	color: $secondColor !important;
}

.text-warning {
	color: $warningColor !important;
}

.bg-primary {
	background: $mainColor !important;
}

.bg-secondary {
	background: $secondColor !important;
}

.bg-success {
	background: $successColor !important;
}

.bg-danger {
	background: $dangerColor !important;
}

.bg-info {
	background: $infoColor !important;
}

.bg-dark {
	background: $textColor !important;
}

.bg-light {
	background: $lightColor !important;
}
.bg-warning {
	background: $warningColor !important;
}

.order-6 {
	order: 6 !important;
}

.w-sm-auto {
	@media (min-width: 576px) {
		width: auto !important;
	}
}

.mw-md-70 {
	@media (min-width: 768px) {
		max-width: 70% !important;
	}
}

.pb-0-mob {
	@media (max-width: $md3+px) {
		padding-bottom: 0 !important;
	}
}
.pt-0-mob {
	@media (max-width: $md3+px) {
		padding-top: 0 !important;
	}
}

.social {
	display: flex;
	padding-left: 0;
	align-items: center;
	margin-bottom: 0;

	& > li {
		flex: 0 0 auto;
		width: 3.2rem;

		@media (max-width: $md3+px) {
			width: 24px;
		}

		&:not(:last-child) {
			margin-right: 2.4rem;

			@media (max-width: $md3+px) {
				margin-right: 1.6rem;
			}
		}

		& img,
		& svg {
			width: 3.2rem;
			height: 3.2rem;

			@media (max-width: $md3+px) {
				width: 24px;
				height: 24px;
			}
		}
	}
}
.head {
	margin-bottom: 5.6rem;

	@media (max-width: $md2+px) {
		margin-bottom: 24px;
	}

	& > *:last-child {
		margin-bottom: 0;
	}


	& h3.head__title {
		@media (max-width: $md3+px) {
			font-weight: 600;
			font-size: 28px;
			line-height: 32px;
		}
	}

	&__title {
		margin-bottom: 1.6rem;

		@media (max-width: $md2+px) {
			margin-bottom: 8px;
		}
	}

	& h1.head__title {
		font-size: 4.4rem;
		line-height: 1.14em;
		letter-spacing: -0.02em;
		font-weight: 400;
	
		@media (max-width: $md3+px) {
			font-weight: 600;
			font-size: 28px;
			line-height: 1.14em;
		}
	
		&.mb-3 {
			margin-bottom: 2.4rem !important;
	
			@media (max-width: $md3+px) {
				margin-bottom: 16px !important;
			}
		}
	}

	&__subtitle {
		margin-bottom: 1.6rem;

		@media (max-width: $md2+px) {
			margin-bottom: 12px;
		}

		&:not(.text) {
			line-height: 1.4em;
		}

		&.text {
			color: #6b6b6b;
		}

		&:not(.text-lg-center):not(.text-center) {
			max-width: 101.9rem;
		}
	}

	&--sm {
		margin-bottom: 3.2rem;

		@media (max-width: $md3+px) {
			margin-bottom: 16px;
		}
	}

	&--top {
		@media (max-width: $md3+px) {
			padding-top: 24px;
		}
	}
}

.text-lg-center {
	@media (min-width: 992px) {
		text-align: center;
	}
}

.text {
	font-weight: 400;
	font-size: 2.6rem;
	line-height: 1.3em;
	letter-spacing: -0.02em;

	@media (max-width: $md2+px) {
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
	}
}

.label {
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	color: #fff;
	padding: 1.2rem 2.4rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1em;
	letter-spacing: -0.02em;
	align-self: flex-start;

	@media (max-width: $md3+px) {
		padding: 6px 16px;
		font-size: 12px;
		line-height: 16px;
	}

	&--gradient {
		background: linear-gradient(98.67deg, #179b97 0.55%, #09cac3 96.7%);
	}
}

.box {
	background-color: #fff;
	padding: 4rem;
	border-radius: 2.4rem;

	@media (max-width: $md2+px) {
		padding-left: 32px;
		padding-right: 32px;
	}

	@media (max-width: $md3+px) {
		padding: 16px 12px;
		border-radius: 16px;
	}

	&--has-text {
		@media (max-width: $md3+px) {
			padding: 40px 12px;
		}
	}

	&--big-padding {
		padding: 4.8rem 11.5rem;

		@media (max-width: $md2+px) {
			padding: 4.8rem 32px;
		}

		@media (max-width: $md3+px) {
			padding: 40px 12px;
		}
	}
}
.links-group-wrap {
	&.box {
		@media (max-width: $md3+px) {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}
.links-group {
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 2.4rem 3.4rem;
	margin-bottom: 0;

	@media (max-width: $md3+px) {
		gap: 16px;
	}

	& a {
		font-size: 2rem;
		line-height: 1.4em;
		letter-spacing: -0.02em;
		color: $secondColor;
		display: inline-flex;
		flex-wrap: wrap;

		@media (max-width: $md3+px) {
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
		}

		& span {
			border-bottom: 1px dashed $secondColor;

			&:not(:last-child) {
				padding-right: 0.2em;
				margin-right: 0.1em;
			}
		}
	}
}

.last {
	& > *:last-child {
		margin-bottom: 0 !important;
	}
}

.button-wrap {
	&--bottom {
		padding-top: 4rem;

		@media (max-width: $md3+px) {
			padding-top: 24px;
		}
	}
}
// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-size: 2rem;
	line-height: 1.4em;
	letter-spacing: -0.02em;

	&--md {
		font-size: 1.8rem;
		line-height: 1.33em;
		letter-spacing: -0.02em;
	}

	&--sm {
		font-size: 1.6rem;
		line-height: 1.25em;
		letter-spacing: -0.02em;

		@media (max-width: $md3+px) {
			line-height: 1.5em;
		}
	}

	& .kk-star-ratings {
		display: none !important;

		& + blockquote {
			margin-top: 0 !important;
		}
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		margin-bottom: 0.65em;
	}

	& h3,
	& h5 {
		margin-bottom: 2.4rem;

		@media (max-width: $md3+px) {
			margin-bottom: 16px;
			font-weight: 500;
		}

		& + figure {
			margin-top: 0;
		}

		& + h5 {
			margin-top: 3.2rem !important;
		}
	}

	& p,
	& ul,
	& ol,
	& figure {
		margin-bottom: 2.4rem;

		@media (max-width: $md3+px) {
			margin-bottom: 16px;
		}
	}

	& a {
		text-decoration: underline;
		color: $secondColor;

		@media (min-width: 992px) {
			&:hover {
				color: $mainColor;
			}
		}

		& * {
			color: $secondColor !important;
		}
	}

	& ul {
		padding-left: 1.5em;

		@media (max-width: $md3+px) {
			padding-left: 1.5em;
		}

		& > li {
			list-style: disc;

			&:not(:last-child) {
				//margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		&.with-margin {
			& > li {
				&:not(:last-child) {
					margin-bottom: 1.6rem;
				}
			}
		}

		&.without-dots {
			padding-left: 0;
			& > li {
				list-style: none;
			}
		}
	}

	& ol {
		padding-left: 1.5em;

		@media (max-width: $md3+px) {
			padding-left: 1.5em;
		}

		& > li {
			&:not(:last-child) {
				//margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		&.with-margin {
			& > li {
				&:not(:last-child) {
					margin-bottom: 1.6rem;
				}
			}
		}
	}

	& .quote, & blockquote {
		width: 100%;
		max-width: 67.4rem;
		margin: 4.8rem auto;

		@media (max-width: $md3+px) {
			margin: 24px auto;
		}

		&:first-child {
			margin-top: 0;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}


	}

	& figure {
		display: block;
		width: 100%;
		margin: 3.2rem 0;
		overflow: hidden;
		background: #eeeeee;
		border-radius: 4rem;
		padding-bottom: max(50.63%, 227px);
		position: relative;

		@media (max-width: $md3+px) {
			margin: 24px 0;
			border-radius: 16px;
		}

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			object-fit: cover;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& video {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 60rem;
		margin: 8rem 0;

		@media (max-width: $md2+px) {
			height: 500px;
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			height: 380px;
			margin: 50px 0;
		}
	}

	& iframe {
		display: block;
		width: 100%;
		height: 60rem;
		margin: 8rem 0;

		@media (max-width: $md2+px) {
			height: 500px;
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			height: 380px;
			margin: 50px 0;
		}
	}

	& table {
		margin: 9rem 0;

		@media (max-width: $md2+px) {
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			margin: 50px 0;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& p,
	& ul,
	& ol,
	& figure,
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		& ~ h1,
		& ~ h2,
		& ~ h3,
		& ~ h4,
		& ~ h5,
		& ~ h6 {
			margin-top: 5.6rem;

			@media (max-width: $md3+px) {
				margin-top: 32px;
			}
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================


.tippy-content {
	font-family: $mainFontFamily;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.4em;
	letter-spacing: -0.02em;
	padding: 1.1rem 2.5rem ;
}

.tooltip-img {
	width: calc(100% + 20px);
	height: auto;
	margin-left: -10px;
}