.about-head {
    padding-top: 0;

    @media (max-width: $md3+px) {
        padding-top: 24px;
    }

    &__body {

    }

    &__row-1 {
        margin-bottom: 4rem;


        @media (min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 63.92%;
            grid-template-rows: auto 1fr;
            grid-template-areas: 'title images' 'text images';
            gap: 0 4.6rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__title {
        grid-area: title;
        margin-bottom: 4.8rem;
        font-size: 4.4rem;
        line-height: 1.14em;
        letter-spacing: -0.02em;
        font-weight: 400;
    
        @media (max-width: $md3+px) {
            font-weight: 600;
            font-size: 28px;
            line-height: 1.14em;
        }
    

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }
    }

    &__text {
        grid-area: text;

        @media (max-width: $md3+px) {
            color: $textColorThird;
        }
    }

    &__images {
        grid-area: images;

        @media (max-width: $md2+px) {
            margin-bottom: 4.8rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__row-2 {
    }
}

.list-col-4 {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;

    @media (max-width: $md2+px) {
        gap: 24px;
    }

    @media (max-width: $md3+px) {
        gap: 12px;
    }

    & > li {
        flex: 0 1 calc(25% - calc(4rem * 3 / 4));

        @media (max-width: $md2+px) {
            flex: 0 1 calc(50% - 12px);
        }

        @media (max-width: $md3+px) {
            flex: 0 1 100%;
        }
    }
}


.partners {
    background: linear-gradient(328.39deg, #000000 9.3%, #4E4E4E 81.44%);
    padding: 8.8rem 0;

    @media (max-width: $md3+px) {
        padding: 40px 0;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.6rem;

        @media (max-width: $md3+px) {
            gap: 8px;
        }

        & > li {
            flex: 0 1 calc(25% - calc(1.6rem * 3 / 4));
    
            @media (max-width: $md2+px) {
                flex: 0 1 calc(33.3333333% - calc(1.6rem * 2 / 3));
            }
    
            @media (max-width: $md3+px) {
                flex: 0 1 calc(50% - 4px);
            }
        }
    }

    &__card {
        background-color: #fff;
        border-radius: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        height: 18.1rem;

        @media (max-width: $md3+px) {
            border-radius: 16px;
            height: 100px;
            padding: 2rem;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}

.info-for-patient {
    
    @media (min-width: 992px) {
        display: flex;
    }
    &__col-1 {
        @media (min-width: 992px) {
            flex: 1 1 auto;
            margin-right: 6rem;
            padding-top: 6rem;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 3.2rem;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 24px;
        }
    }

    &__col-2 {
        flex: 0 0 56.71%;


    }

    &__title {
        margin-bottom: 3.2rem;

        @media (max-width: $md3+px) {
            margin-bottom: 12px;
        }
    }

    &__text {
        @media (max-width: $md3+px) {
            color: $textColorThird;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }


}


.links-list {
    padding-left: 0;
    margin-bottom: 0;

    & > li {
        &:not(:last-child) {
            margin-bottom: 1.2rem;

            @media (max-width: $md3+px) {
                margin-bottom: 8px;
            }
        }
    }

    &__item {
        display: flex;
        background-color: #fff;
        min-height: 6rem;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-radius: 0.8rem;
        padding: 1rem 3.2rem;
        transition: all 0.15s ease-in-out;

        @media (min-width: 992px) {
            &:hover {
                color: #fff;

                &::before {
                    opacity: 1;
                }
            }
        }

        @media (max-width: $md3+px) {
            padding: 16px 12px;
            min-height: 5.2rem;
        }

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: 0.8rem;
            background: linear-gradient(98.67deg, #179b97 0.55%, #09cac3 96.7%);
            transition: all 0.15s ease-in-out;
            opacity: 0;
        }

        & p {
            margin-bottom: 0;
            font-size: 1.8rem;
            line-height: 1.56em;
            letter-spacing: -0.025em;
            position: relative;
            z-index: 2;
            margin-right: 2.4rem;

            @media (max-width: $md3+px) {
                font-size: 14px;
                line-height: 20px;
                margin-right: 14px;
            }
        }

        & svg {
            height: 4rem;
            width: 4rem;
            position: relative;
            z-index: 2;
            flex: 0 0 auto;

            @media (max-width: $md3+px) {
                height: 24px;
                width: 24px;
            }
        }
    }
}
