.articles {
    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 4.8rem;

        & > li {
            flex: 0 1 calc(50% - 2.4rem);

            @media (max-width: $md3+px) {
                flex: 0 1 100%;
            }
        }
    }
}

.articles {
    &__authors {
        &.box {
            @media (max-width: $md3+px) {
                padding: 24px 16px;
            }
        }
    }

    &__authors-title {
        margin-bottom: 1.6rem;

        @media (max-width: $md3+px) {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 8px;
        }
    }

    &__authors-list {
        padding-left: 0;
        margin-bottom: 0;

        @media (max-width: $md2+px) {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }

        & > li {
            &:not(:last-child) {
                margin-bottom: 1.6rem;

                @media (max-width: $md2+px) {
                    margin-bottom: 0;
                }
            }
        }

        & a {
            font-weight: 500;
            font-size: 2rem;
            line-height: 1.3em;
            letter-spacing: -0.025em;
            color: $secondColor !important;
            text-decoration: underline;

            @media (max-width: $md3+px) {
                font-size: 16px;
                line-height: 21px;
            }
        }
    }
}
