.main-grid {
    min-width: 0;

    @media (min-width: 992px) {
        display: flex;
    }

    &__content {
        flex: 1 1 auto;
        min-width: 0;


        & > .kk-star-ratings {
            display: none !important;
        }
    }

    &__side-column {
        position: relative;
        display: block;
        flex: 0 0 30.47%;
        margin-left: 1.6rem;

        @media (max-width: $md2+px) {
            display: none;
        }

        & .cta__form-items {
            margin-bottom: 0 !important;
        }
    }

    &__content-row {
        &:not(:last-child) {
            margin-bottom: 4.8rem;

            @media (max-width: $md3+px) {
                margin-bottom: 24px;
            }
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__sticky-box {
        position: sticky;
        position: -webkit-sticky;
        top: 17rem;
        transition: all .15s ease-in-out;

        & > *:not(:last-child) {
            margin-bottom: 4.2rem;
        }
    }

    &__title {
        margin-bottom: 2.4rem;

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }
    }

    &--not-hide-side-column {
        @media (max-width: $md2+px) {
            display: flex;
            flex-direction: column-reverse;
        }

        & .main-grid__side-column {
            @media (max-width: $md2+px) {
                display: block;
                margin-left: 0;
                margin-bottom: 40px;
            }
        }
    }

    &--not-hide-side-column-left {
        & .main-grid__side-column:first-child {
            @media (max-width: $md2+px) {
                display: block;
                margin-left: 0;
                margin-bottom: 24px;
            }
        }
    }

    &--col-3 {
        @media (min-width: 992px) {
            & .main-grid__side-column {
                margin-left: 0;
                &:first-child {
                    flex: 0 0 20.62%;
    
                    & .services-side-panel {
                        padding-left: 0;
                    }
                }
    
                &:last-child {
                    flex: 0 0 20.43%;
                }
    
                & .cta-card {
                    padding: 2.4rem 1.6rem;
                    border-radius: 2.4rem;
                }
    
                & .cta-card__title {
                    font-size: 2.6rem;
                    line-height: 1.08em;
                }
    
                & .cta-card__text {
                    font-size: 1.6rem;
                    line-height: 1.38em;
                    margin-bottom: 2.4rem;
                }
            }
    
            & .main-grid__content {
                margin-right: 1.6rem;
                margin-left: 1.6rem;
            }
        }

    }

}
