.info-cards-list {
    @media (max-width: $md3+px) {
        margin: 0 -20px;
        padding: 0 20px;
        overflow: hidden;
    }

    & .swiper {
        overflow: visible;
    }

    & .swiper-wrapper {
        @media (min-width: 768px) {
            flex-wrap: wrap;
            margin: 0 -0.8rem -1.6rem;
        }
    }

    & .swiper-slide {
        height: auto;
        @media (min-width: 768px) {
            width: auto;
            flex: 0 1 33.3333%;
            padding: 0 0.8rem;
            margin-bottom: 1.6rem;
        }

        @media (max-width: $md3+px) {
            width: 208px;
        }
    }
}

