.gallery {
    overflow: hidden;

    @media (max-width: $md2+px) {
        width: auto;
        margin: 0 -32px;
        padding: 0 32px;
    }

    @media (max-width: $md3+px) {
        margin: 0 -20px;
        padding: 0 20px;
    }
    &__title:not(.mb-3) {
        margin-bottom: 4rem;

        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }
    }

    & h3.gallery__title {
        @media (max-width: $md3+px) {
            font-weight: 600;
            font-size: 28px;
            line-height: 32px;
        }
    }

    & .swiper {
        @media (max-width: $md2+px) {
            overflow: visible;
        }
    }

    & .swiper-slide {
        width: auto;
        padding-right: 1.6rem;

        @media (max-width: $md3+px) {
            padding-right: 1.8rem;
        }
    }

    &__carousel {
        position: relative;

        @media (min-width: 992px) {
            padding: 0 4.8rem;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        background-color: $secondColor;
        transition: all 0.15s ease-in-out;
        color: #fff;
        cursor: pointer;

        @media (max-width: $md2+px) {
            display: none;
        }

        @media (min-width: 992px) {
            &:hover {
                opacity: 0.7;
            }
        }

        & svg {
            height: 1.6rem;
            width: auto;
        }

        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }
    }

    &__img {
        width: 32.25rem;
        height: 31.6rem;

        @media (max-width: $md3+px) {
            width: 227px;
            height: 28rem;
        }

        &-1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(50% - 1px);
        }
        &-2 {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: calc(50% - 1px);
        }

        & .label {
            position: absolute;
            z-index: 3;
            right: 1rem;
            bottom: 1rem;
            background-color: $secondColor;
            font-size: 1.4rem;
            line-height: 1em;
            padding: 0.8rem 1.6rem;
            text-transform: uppercase;
        }
    }

    &--big {
        & .gallery__img {
            @media (min-width: 768px) {
                width: 28.6rem;
                height: 28rem;
            }
        }
    }
}


.threeD-gallery {
    & iframe {
        height: 48.5rem !important;

        @media (max-width: $md3+px) {
            height: 320px !important;
        }
    }
}